/* Small devices (landscape phones, 544px) */
@media (max-width: 544px) {
    .top-bar {
        display: none !important;
    }
    
    .back-to-top {
         right: 12px;
    }
    
    .card {
         padding: 20px;
    }
    
    .card-header {
         padding: .75rem 0rem;
    }
    .section-1 {
        margin-top: 75px;
    }
    .navbar-collapse.show, .navbar-collapse {
         max-height: 300px !important;
    }
}

/* Medium devices (tablets, 768px) The navbar toggle appears at this breakpoint */
@media (min-width: 767px) {
    .jumbotron {
        margin-top: 180px;
    }
}

@media (max-width: 768px) {
    .top-bar .contact-details li {
        font-size: 11px !important;
    }

    .top-bar ul.social-list li a i {
        width: 10px;
        line-height: 42px;
        font-size: 14px;
    }

    .top-bar .contact-details i {
        margin-right: 3px;
        margin-left: 3px;
    }

    .jumbotron {
        margin-top: 149px;
    }
    
    section {
         padding-top: 40px;
         padding-bottom: 40px;
    }
    
     .section-heading {
         margin-bottom: 40px;
    }
    
     .section-heading:before {
         font-size: 40px;
    }
    
     h1 {
         font-size:2.4em;
    }
    
     h2 {
         font-size:2.0em;
    }
    
     h3 {
         font-size: 1.7em;
    }
    
     h4 {
         font-size: 1.5em;
    }
    
     .h7 {
         font-size:16px;
         line-height:27px;
    }
    
    footer {
         padding:30px;
    }
    
    .mt-5, .my-5 {
         margin-top: 1rem!important;
    }
    
     .contact-icon:hover .top-icon {
         top: -20px;
    }
    
    .contact-icon .top-icon, 
    .contact-icon {
         margin-top: 20px;
    }
    .section-1 {
        margin-top: 124px;
    }
}

/* Medium- Large devices (desktops, 992px) */
@media (max-width: 992px) {
    .top-bar .contact-details li {
        font-size: 13px;
    }

    .top-bar .contact-details li {
        margin: 0 !important;
    }

    .top-bar .contact-details i {
        margin-right: 8px;
        margin-left: 8px;
    }

    .navbar-collapse.show {
        max-height: 400px;
    }

    .navbar-collapse {
        max-height: 400px;
    }

    .navbar-collapse::-webkit-scrollbar {
        width: 10px;
    }

    .navbar-collapse::-webkit-scrollbar-track {
        background-color: lightgray;
    }

    .navbar-collapse::-webkit-scrollbar-thumb {
        background-color: darkgray;
    }

    .navbar-collapse.show {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }

    .jumbotron {
        margin-top: 140px;
    }
    
    .dog-bg1:before, 
    .dog-bg2:before, 
    .paws-house-bg1:before, 
    .dog-bg3:before {
         display:none;
    }
    
     .res-margin{
         margin-top:30px;
    }
    
     .adopt-card:hover{
         margin-top:30px;
    }
}

/* Large devices (large desktops, min 1200px ) */
@media (min-width: 1200px) {
    /* navigation */
    .navbar-nav .nav-link {
        height: 60px;
    }

    .navbar {
        height: 106px;
        line-height: 45px;
    }

    .navbar-collapse.show {
         display: block;
         padding-bottom: 40px;
    }
    
    .dropdown-menu {
        margin-top: 30px;
    }

    .jumbotron {
        margin-top: 148px !important;
    }
    
    .section-1 {
        margin-top: 28px;
    }
}

/* Large devices (large desktops, max 1200px) */
@media (max-width: 1200px) {
    .dropdown-menu:before {
        display: none;
    }

    .navbar .nav-item {
        margin-top: 20px;
    }

    .navbar {
        padding: 20px;
    }

    .dropdown-item,
    .navbar-nav .nav-link {
        text-align: center;
    }

    .dropdown-item {
        padding: 0.8rem;
    }

    .navbar-collapse.show {
        display: block;
        padding-bottom: 40px;
    }

    .jumbotron{
        margin-top: 100px;
    }
}

/* Extra large devices (large desktops, 1920px or more) */
@media (min-width: 1920px) {
    .dog-bg1:before, 
    .dog-bg2:before, 
    .paws-house-bg1:before {
         left: 18% 
    }
     .dog-bg3:before {
         right: 18% 
    }
}
