.contact-icon {
    text-align: center;
    padding: 60px 20px 40px 20px;
    background-color: #fff;
    border: 5px solid;
    border-radius: 5px;
}

.contact-icon .top-icon {
    transition: all .3s ease-out;
    font-size: 60px;
    top: -30px;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    width: 100px;
    margin: auto;
}

.contact-icon:hover .top-icon {
    top: -40px;
}

.contact-icon .h7 {
    margin-top: 32px;
}

.margin-icon {
    margin-right: 10px;
}
