.btn {
    transition: background-color .2s ease-in-out;
    color: #fff !important;
    border: 0;
    font-size: 1rem;
    padding: 10px 20px;
    outline: none;
    letter-spacing: 0.2px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
    text-transform: uppercase;
    margin-top: 15px;
    white-space: normal;
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    transition: background .2s ease-in-out;
}

.btn-lg {
    padding: 1.5rem 2.4rem !important;
    font-size: 1.25rem !important;
    line-height: 1.5;
}

.btn-sm {
    padding: 0.6rem 0.6rem !important;
    font-size: 0.9rem !important;
}

.btn-light {
    color: #212529 !important;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    margin: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    outline: none;
    box-shadow: none !important;
}

button:focus {
    outline: 0;
}
