.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

.navbar-nav a {
    color: #fff !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.navbar-nav .nav-link {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
}

.nav-item {
    border-radius: 70px;
    transition: all .2s ease-in-out;
}

.navbar .nav-item:focus .dropdown.show {
    background: transparent !important;
}

.navbar .nav-item.active, .navbar .dropdown-item:hover, .navbar .dropdown-item:focus, .navbar .nav-link:focus, .navbar .nav-item:hover, .navbar .nav-item .active {
    color: #fff !important;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
}

/* dropdown style */
.nav-link.dropdown-toggle:focus {
    background: transparent !important;
}

.dropdown-item {
    color: #fff !important;
    transition: all .2s ease-in-out;
}

.dropdown-menu {
    border: 0;
}

.dropdown-menu:before {
    transition: all .2s ease-in-out;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
    top: -14px;
    left: 10%;
    position: absolute;
}

.dropdown-menu:before {
    bottom: -17px;
    right: -8px;
}

/* navbar brand */
.navbar-brand {
    line-height: 20px;
    margin-top: 0;
}

.navbar-brand span {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff !important;
}

.navbar-brand i {
    vertical-align: sub;
    margin-right: 10px;
    font-size: 45px;
}

.navbar-toggler {
    transition: all 0.5s ease 0s;
    background: #fff;
}

/* top-bar */
.top-bar {
    background-color: #f4f4f4;
    transition: all 0.8s;
    top: 0;
    width: 100%;
    position: relative;
}

.top-bar ul, ol {
    display: inline-flex;
    margin-bottom: 0;
    padding: 0;
}

.top-bar .contact-details li:first-child {
    margin-left: 0;
}

.top-bar .contact-details i {
    margin-right: 8px;
}

.top-bar .contact-details li {
    font-size: 15px;
    display: inline-block;
    line-height: 42px;
    font-weight: 700;
    margin-left: 30px;
}

.top-bar .contact-details a,
.top-bar .social-list a {
    text-decoration: none;
}

/* top-bar Social icons */
ul.social-list {
    float: right;
    list-style-type: none;
}

ul.social-list li a {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

ul.social-list li a:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

ul.social-list li a i {
    display: block;
    width: 34px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
}
