.section-heading {
    text-align: center;
    margin-bottom: 10px;
}

.section-heading:before {
    content: "\f126";
    font-family: Flaticon;
    font-size: 50px;
    bottom: -20px;
    z-index: 0;
    text-shadow: 0 4px 17px rgb(255 255 255 / 60%);
}

.section-heading__subtitle {
    font-size: 2.1em;
    font-weight: 500;
    letter-spacing: -0.6px;
}
