.dog-bg1, .dog-bg2, .dog-bg3, .paws-house-bg1 {
    position: relative;
    z-index: 1;
}

.dog-bg1:before,
.dog-bg2:before,
.dog-bg3:before,
.paws-house-bg1:before {
    position: absolute;
    font-family: 'Flaticon';
    font-size: 245px;
    opacity: 0.08;
    top: 100px;
    z-index: -1;
}

.dog-bg1:before {
    left: 10%;
    content: "\f121";
}

.dog-bg2:before {
    left: 10%;
    content: "\f130";
}

.dog-bg3:before {
    right: 10%;
    content: "\f16c";
}

.paws-house-bg1:before {
    left: 10%;
    transform: rotate(5deg);
    content: "\f172";
}

.bg-light {
    background-color: #f5f5f5!important;
}
