body {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}

/* Links */
a {
    transition: color .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
}

*:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.custom-link {
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    background-color: #f3f3f3;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}
