body {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}

/* Section */
section {
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Links */
a {
    transition: color .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
}

*:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.custom-link {
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    background-color: #f3f3f3;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

label {
    margin-top: 10px;
}

/* border */
.border-irregular1 {
    border-radius: 155px 45px 225px 75px/15px 125px 15px 155px;
}

.border-irregular2 {
    border-radius: 75px 125px 45px 155px/155px 15px 155px 15px;
}

.border-double {
    border: 10px double;
}

.disabled, [disabled] {
    pointer-events: none;
    opacity: .4;
    cursor: not-allowed;
}

.block-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.hover-opacity {
    transition: all 0.4s ease-in-out;
}

.alert-primary, .alert-secondary {
    color: #fff;
}
